@model BRCurtidas.V2.WebApp.TestModel

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>BR Curtidas</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
</head>
<body>
<h1>Bem vindo ao BR Curtidas</h1>
<p>@Model.WelcomeText</p>
</body>
</html>